:root{
    --cor-nome-da-pagina: yellow;
    --cor-da-fonte: white;
}

*{
    padding: 0%;
    margin: 0%;
}

@font-face {
    font-family: pokemon solid;
    src: url('pokemonsolid.ttf');
}

body{
    box-sizing: border-box;
    background-image: url("assets/fundo_pokebola1440.png");
    background-size: 100%;
    background-attachment: fixed;
}

.cabecalho_menu{
    display: flex;
    justify-content: space-between;
   /* padding: 2% 0% 0% 0%;*/
    background-color: #050000bf;
    text-align: left;
}

.cabecalho_titulo{
    padding: 1.5rem;
    font-family: pokemon solid;
    text-decoration: none;
    color: var(--cor-nome-da-pagina);
}

.div_opcoes{
    margin: 1.5rem;
}

.cabecalho_opcoes{
    margin: 1.5rem;
    text-decoration: none;
    color: var(--cor-da-fonte);
}

.principal_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    background-color: #050000bf;
    opacity: 82%;
    width: 20%;
    margin-top: 5%;
}

.principal_links_conteudo{
    margin: 1rem;
    text-decoration: none;
    color: aliceblue;
}

.rodape{
    text-align: center;
    padding: 15px;
    color: #000;
}